* {
box-sizing: border-box;
margin: 0;
padding:0;
}


.App{
  text-align: center;
  background: linear-gradient(#e66465, #9198e5);
}
.data{

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20%;
  height: 15vh;
  align-items: center;
  background-color: cornsilk;
  margin: 5%;
}
.todo-app{
  display: flex;
  flex-wrap: wrap;
}